a.ButtonRightIcon-main{
    text-decoration: none;
}

.ButtonRightIcon-main {
    font-family: var(--fuente-principal);
    background-color: #ffffff;
    border-radius: 15px;
    border: none;
    color: var(--color-fuente);
    cursor: pointer;
    font-size: var(--tamano-fuente-header-buttons);
    padding: 7px 15px;
    text-align: center;
    margin: 5px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ButtonRightIcon-main:hover {
    background-color: var(--naranja-claro);
    color: var(--color-fuente-contraste1);
}

.ButtonRightIcon-main img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}