.logoWhatsapp{
    width:70px;
    position: fixed;
    z-index: 5;
    bottom: 70px;
    right: 15px;
    transition: 0.3s ease-in-out;
}
.logoWhatsapp:hover{
    transform: scale(1.2);
    cursor: pointer;
}
