.buscador-seccion-calendario button.react-calendar__tile:disabled:hover{
  background: #f2dada;
  color: #d95555;
}

.buscador-seccion-calendario button.react-calendar__tile:disabled:hover abbr{
  display: none;
}

.buscador-seccion-calendario button.react-calendar__tile:disabled span{
  display: none;
}

.buscador-seccion-calendario button.react-calendar__tile:disabled:hover span{
  display: block;
}

.buscador-seccion-calendario button.react-calendar__tile--hover:disabled{
  background: #f2dada;
  color: #d95555;
}

.buscador-seccion-calendario button.react-calendar__tile--hover:disabled abbr{
  display: none;
}

.buscador-seccion-calendario button.react-calendar__tile--hover:disabled span{
  display: block;
}


.detalle-producto-overlay{
  margin-bottom: 1rem;
}

.detalle-producto-card {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.detalle-izquierda-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  height: 100%;
  width: 100%;
}

.detalle-derecha-card{
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-detalle {
  font-size: 2.5rem !important;
  display: flex;
  margin:0 1rem;
  cursor: pointer;
  border: none; 
  background: none;  
  color: white; 
  transition: 
  color 0.3s ease-in-out,
  transform 0.3s ease-in-out; 
}

.button-detalle:hover {
  transform: scale(1.2);
  color: #343434; 
}

a:-webkit-any-link{
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.titulo {
  font-family: var(--fuente-principal); 
  font-size: 2rem !important; 
  font-weight: 400; 
  color: #333; 
  margin: 3rem 0rem 1rem; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  line-height: 1.2; 
  border-bottom: 1px solid #ccc; 
  padding-bottom: 5px;
}
.detalle-producto-overlay p{
  font-family: var(--fuente-principal);
  font-size: 1.5rem !important;
  margin-right: 7px;
}

.detalle-descripcion-producto {
  font-family: var(--fuente-principal);
}

.fotos-detalle{
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.imagen-Detalle-Producto {
  width: 60%;
  max-height: 35vw; 
  object-fit:contain; 
}
.imagen-Detalle-Producto:hover{
  cursor: zoom-in;
}

.miniaturas {
  width: 45%;
  max-height: 35vw; 
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  gap: 10px;
}

.miniatura {
  width: 40%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out; }

  .miniatura:hover{
    transform: scale(1.1);
    cursor: pointer;
  }

.imagen-Detalle-Producto,
.miniatura {
  border-radius: 8px; 
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
}



.button-reserva{
  font-family: var(--fuente-principal);
  font-weight: 410;
  font-size: 1.5rem !important;
  background-color: #EE9B01;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: 0.2s ease-in-out;
}
.button-reserva:hover {
  background-color: var(--verde-claro); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.barra-titulo{
  display: flex;
  background-color: #539c56;
  width: 100vw;
  max-width: calc(100vw - 16px);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.centradorTitulo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.titulo-nombre-bici {
  font-family: var(--fuente-principal);
  font-size: 1.8rem;
  font-weight: 500;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.detalle-producto-overlay p{
  font-size: 1rem;
}

.detalle-producto-overlay h2{
  font-size: 1rem;
}

.caracteristicas-container {
width: 100%; 
display: flex;
flex-direction: column;
text-align: center;
overflow: auto;
}

.iconos-caracteristicas{
  display: flex;
}

.caracteristica-icon {
  width: 2rem !important;
  height: 2rem !important;
  margin: 0 1rem 1rem !important;
}
.fa-hearth{
  margin: 1.5px;
  font-size: 3rem;
 transition: transform 0.3s ease-in-out;
 margin: 0 1rem; 
}
.fa-hearth:hover{
  color: red !important;
}

.caracteristica-item {
text-align: center;
margin: 0 1rem;
}

.container-big-item{

  display: flex;
display: block;
}

.titulo-426{

  display: none;
}

.container-calendar-button{

  display: flex;
  align-items: center;
  justify-content: space-around;
}


/* Media queries para hacerlo responsive 768*/
@media screen and (max-width: 768px){

article.detalle-producto-card {
  width: 95%;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
}

.titulo{margin: 1rem;}

.caracteristicas-container {
width: 100vw;  
overflow: auto;
box-sizing: border-box; 
height: 60vh;
}

.detalle-producto-overlay p{
font-size: 10px;
margin: 1rem;
width: 95%;

}
.container-big-item{
column-count: 2;
display: flex;
}

.button.button.button-detalle {

width: 90px;
height: 10px;
font-size: 10px;

}

div.detalle-izquierda-card{
box-sizing: border-box;
width: 50%;

}
div.detalle-descripcion-producto{
box-sizing: border-box;


}

.titulo-426{

  display: none;
}

div.detalle-producto-overlay{

  margin-top: 0;
}

.imagen-Detalle-Producto {

  width: 100%;
}


div.detalle-izquierda-card {
  width: 100%;
}




div.caracteristicas-container {
height: auto;
}

button.button-reserva {

  font-size: 1rem !important;
  margin-top: 10px;
}

.pButton-Reserva {

font-size: 0.8rem !important;

}



div.container-calendar-button{

  display: flex;
  flex-direction: column;
  
  }
}

/* Media queries para hacerlo responsive 426*/

@media screen and (max-width: 426px) {
article.detalle-producto-card {
  flex-direction: column;
  align-items: center;
  width: 90vw; 
  overflow:auto;

}

div.detalle-descripcion-producto{

  height: 50vh;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  overflow:auto;
}

.detalle-producto-overlay h2{
  margin: 0%;
}

.titulo-426{

  display:block;
}

.oculto {
  display: none;
}


div.detalle-izquierda-card {
  width: 100%;
  box-sizing: border-box;
  height: 35vh;
  
}
div.caracteristicas-container {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  height: 25vh;
  display: flex;

}

.detalle-izquierda-card {
  height: auto;
}



.detalle-descripcion-producto {
  margin-top: 10px;
  margin-bottom: 10px;

}

.caracteristicas-container {
  overflow: auto;

  max-height: 60vh; 
}

.button.button.button-detalle {
  width: 100%;
  height: 20px;
  font-size: 10px;
}



.container-big-item {
  display: flex;
  flex-direction: column;
}


.detalle-producto-overlay p{
font-size: 10px;
margin: 0%;

}

span.titulo-nombre-bici{
font-size: 10px;
  
}

img.imagen-Detalle-Producto{

  width: 100px;
  height: 300px;

}


div.container-calendar-button{

display: flex;
flex-direction: column;

}

.iconos-caracteristicas {
  display: flex;
  flex-direction: column;
}


div.caracteristicas-container {
height: auto;
}

button.button-reserva {

  font-size: 1rem !important;
  margin-top: 10px;
}

.pButton-Reserva {

font-size: 0.8rem !important;

}


div.fotos-detalle {

  display: flex;
  flex-direction: column;
}

img.imagen-Detalle-Producto {

  display: none;
}


div.miniaturas{

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-height: fit-content;
  width: 100%;

}

div.detalle-izquierda-card {

  height: auto;
}

div.detalle-producto-overlay{

  margin-top: 0;
}


.miniatura {
  width: 100%;
}

}