
.categorias-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categorias-conteiner {
  display: flex;
  justify-content: space-between;
}

.card-categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  transition:
    background-color 0.9s ease-in-out, font-style 1s ease-in-out,
    opacity 0.5s ease-in-out,
    transform 0.2s ease-in-out;
  border-radius: 90px;
}

.card-categoria:hover {

  cursor: pointer;
  
  transform: scale(1.09);
  z-index: 1;
}

.categorias-conteiner:hover .card-categoria:not(:hover) {
  opacity: 0.6;
}

.img-categoria {
  width: 100%;
  height: 15vw;
  border-radius: 40px;
  object-fit:cover;
}

.nombre-categoria {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: lighter;
  color: rgb(79, 75, 75);
}
  
.card-link {
  width: 30%;
  display: inline-block; 
  text-decoration: none; 
  color: inherit;
}

@media screen and (max-width: 768px) {
  .categorias-conteiner{
    flex-direction: column;
    width: 90%;
    align-items: center;
  }

  .card-link{
    width: 80%;
  }

  .img-categoria{
    height: auto;
  }
}