footer {
  background-color:#ffffff;
  color: #000000;
  
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 20px;
}

.logo img {
  margin: 0.2rem;
  height: 50px;
}

.right img {
  width: 35px;
  margin: 0.5rem;
  transition: 0.2s ease-in-out;
}
.right img:hover{
  cursor: pointer;
  transform: scale(1.25);
}

.left p {
  margin-left: 20%;
  font-size: 1.5rem;
  white-space: nowrap;

}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
}

/* Estilos footer entre 377 y 676 */
@media (min-width: 377px) and (max-width: 767px) {
  .left {
    margin-left: 10px;
  }

  .left img {
    margin-right: 2%;
  }

  .right img {
    width: 20px;
  }

  .left p {
    margin-left: 6%;
    font-size: 0.8rem;
    white-space: nowrap;
  }


}


/* Estilos footer entre 321 y 376 */
@media (min-width: 321px) and (max-width: 376px) {
  .left {
    margin-left: 10px;
  }

  .left p {
    font-size: 0.8rem;
    white-space: nowrap;
  }

  .left img {
    margin-right: 0;
  }

  .right img {
    width: 20px;
  }
}



/* Estilos footer  320 */

@media (max-width: 320px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .left img {
    margin-right: 2%;
  }

  .right img {
    width: 20px;
    align-items: center;
    padding-left: 10px;
  }


  .left p {
    margin-left: 5%;
    font-size: 0.8rem;
    white-space: nowrap;
  }

  .right {
    justify-content: center;
  }
}