.ProductoRegistrar-main{
  margin-top: 2vw;
}
.product-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label,option{
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    background-color: #ffffff;
    color: #171717;
    font-size: 1.2rem;
    border-radius:5px;
    border: 1px solid;
  
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #ededed;
    border-radius:5px;
    border: 1px  solid #000000;
  
  
  }
  
  .fileContainer .chooseFileButton {
	background: #a9a7a7;
}

.fileContainer .chooseFileButton:hover{
	background: #cfcfcf;
}
.fileContainer{

    border: 1px solid #000000;
}

.saveButton{
    height: 30px;
    width: 30px;
    margin-right: 10px;

}


.form-group input[type="checkbox"] {
  margin-top: 0.3rem;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
}

