.HamburgMenuUser-main{
    display: flex;
    flex-direction: column;
    font-family: var(--fuente-principal);
    font-size: 14px;
    align-items: flex-end;
 
}

.HamburgMenuUser-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fuente-principal);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 6px;
    background: var(--gris-claro);
    border-color: #000040;
    border-style: solid;
    border-width: 3px;
    border-radius: 9999px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 2.3rem;
    width: 2.3rem;
    user-select: none;
}

.HamburgMenuUser-avatar:hover{
    cursor: pointer;
}

.HamburgMenuUser-avatar.HamburgMenuUser-isActive{
    background-color: white;
    border-color: var(--naranja-oscuro);
    color: var(--naranja-oscuro);
}

.HamburgMenuUser-icon{
    width: 33.33px;
    height: 33.33px;
    margin: 20px 15px 0 0;
    border-radius: 19px;
}

.HamburgMenuUser-icon.HamburgMenuUser-isActive{
    background-color: #FB7E29;
}

.HamburgMenuUser-nav{
    background: #e6e6f2;
    width:0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height:100vh;
    opacity: 0;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px #000040;
    /*transition: all .3s ease;*/
    margin-top: 20px;
    margin-right: 10px;
    float: right;
}

.HamburgMenuUser-nav.HamburgMenuUser-isActive{
    opacity: 1;
    width: 100%;
    transition: all .3s ease;
}

.HamburgMenuUser-ul{
    list-style: none;
    padding-inline-start: 0px;
    overflow: hidden;
}

.HamburgMenuUser-li{
    margin: .5em 0;
}

.HamburgMenuUser-li img{
    width: auto;
    height: 20px;
}

.HamburgMenuUser-li .ButtonLeftIcon-main{
    justify-content: center;
}

.HamburgMenuUser-cont-inner-avatar{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
}

.HamburgMenuUser-cont-inner-avatar .HamburgMenuUser-avatar{
    margin-right: 0px;
}

.HamburgMenuUser-cont-inner-avatar-data{
    margin-top: 7px;
    text-align: center;
}

.HamburgMenuUser-cont-inner-avatar-name{
}

.HamburgMenuUser-cont-inner-avatar-email{
    display: flex;
    margin-top: 5px;
    padding: 10px;
    flex-direction: column;
    word-break: break-word;
}

@media (min-width: 554px){

    .HamburgMenuUser-main.HamburgMenuUser-main-user{
        width: auto;
        max-width: 25vw;
        min-width: 276px;
    }

    .HamburgMenuUser-nav{
        background: none;
        margin-top: 0;
        align-items: flex-end;
        box-shadow: none;
        width: 100%;
        opacity: 1;
        transition: none;
    }

    .HamburgMenuUser-nav.HamburgMenuUser-nav-user{
        background: #e6e6f2;
        margin-top: 20px;
        box-shadow: 0px 2px 4px 0px #000040;
        width:0;
        opacity: 0;
        /*transition: all .3s ease;*/
    }

    .HamburgMenuUser-nav.HamburgMenuUser-nav-user.HamburgMenuUser-isActive{
        opacity: 1;
        width: 100%;
        align-items: center;
        transition: all .3s ease;
    }

    .HamburgMenuUser-cont-inner-avatar{
        font-size: 14px;
    }

    .HamburgMenuUser-nav ul li{
        float: left;
    }

    .HamburgMenuUser-anonimus-avatar{
        display: none;
    }

    .HamburgMenuUser-ul{
        width: 100%;
        display: flex;
        padding-inline-start: 0%;
        flex-direction: row;
        justify-content: flex-end;
    }

    .HamburgMenuUser-nav.HamburgMenuUser-nav-user.HamburgMenuUser-isActive 
        .HamburgMenuUser-ul{
        flex-direction: column;
    }

    .HamburgMenuUser-li{
        margin: 0;
    }
    
}