/*
->Se realiza estrategia de estilizado -mobile first-
*/
header {
    height: 60px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px #00000040;
    left: 0;
    top: 0;
    width: 100%;
    max-width: calc(100vw - 16px);
    position: fixed;
    z-index: 3;
}

.header-flex-container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

header .header-logo-usuario{
    width: 33.33px;
    height: 33.33px;
    margin: 0 15px 0 0;
}




.header-lema{
    display: none;
}

.header-hamburg-user-section{
    display: block;
    /*
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    */
}

.right-header{
    display: flex;
    
}
.links-header{
    display: flex;
}

.link-header{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0 3rem;
    color: #434141;
    transition: transform 0.3s ease-in-out;
}
.link-header:hover{
    transform: scale(1.2);
}

@media (min-width: 431px){

    header{
        height: 80px;
    }

    header .header-logo-empresa{
        height: 75px;
        margin: 15px;
    }

    .header-lema{
        display: flex;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-style: italic;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        font-optical-sizing: auto;
        font-variation-settings: "slnt" 0;
        align-items: center;
        margin-left: 10px;
    }

    .header-lema a{
        text-decoration: none;
        color: #000000;
    }

    .header-hamburg-user-section{
        display: none;
    }
    
    .header-container-logo-empresa{
        display: flex;
        /*flex-wrap: wrap;*/
    }

}

@media (max-width: 655px){
    .header-lema{
        font-size: 13px;
    }
}

@media (max-width: 540px) {
    .header-lema{
        display: none;
    }
    
}

