.Admin-parent-center{
    align-items: center;
}
.Admin-container{
    display: flex;
    box-shadow: 0px 7px 4px 1px #00000040;
    border-radius: 20px;
    width: 93vw;

}
.Admin-group{
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .not-available-message {
      display: block; 
      text-align: center;
      padding: 20px; 
      background-color: #f8d7da; 
      color: #721c24; 
      border: 1px solid #f5c6cb; 
      margin: 20px auto; 
      max-width: 80%; 
    }
    
    .Admin-container {
      display: none; 
    }
  }

/*   

@media screen and (max-width: 426px) {

    .Admin-container{
        display: flex;
        flex-direction: column;
        box-shadow: 0px 7px 4px 1px #00000040;
        border-radius: 20px;
        width: 93vw;
    
    }
} */